.mainHeader{
    width: 100%;
    /* border-radius: 8px; */
    border-bottom: 1px solid gray;
    height: 4rem;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}


@media (min-width:800px){
    .availableContacts{
        box-sizing: border-box;
        width: 27%;
        height: 36.9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        /* background-color: #333; */
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 2px solid gray;
    }
    .availableContacts div{
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 10px;
        border-bottom: 1px solid gray;
        padding-top: 25px;
        font-weight: bold;
        font-style: italic;
    }
    .availableContacts div:hover{
        cursor: pointer;
        background-color: #555;
    }
}
@media (max-width:800px){
    .availableContacts{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        overflow-x: auto;
        overflow-y: hidden;
        border-bottom: 1px solid white;
        padding-left: 10px;    }
        .availableContacts div{
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-left: 40px;

            font-weight: bold;
            font-style: italic;

        }
}